@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Step 1: Common Properties: All required to make icons render reliably - we did this above but it's included here for the full demo */
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}

#logo {
  height: 100px;
}

#logo-collapsed {
  height: 50px;
}

/* Extra Extra small devices */
@media only screen and (max-width: 400px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin: 0;
	  padding: 0;
  }

  .navbar-toggler {
    margin-left: 10px;
  }

}

/* link popup */
.popup {
  transition: transform 0.4s;
}
.popup a {
  all: unset;
}
.popup:hover {
  transform: scale(1.05);
  z-index: 10000;
}

/* External links */
a[target='_blank']:after {
    font: var(--fa-font-solid);
    content: ' \f08e ';
    font-size: 0.75rem;
    margin-right: 0.2rem;
}

/* External links */
a.plain-external[target='_blank']:after {
    content: '';    
}

#footer {
  text-align: center !important;
}
